<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieFinder</title>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../assets/css/homepage.css" />
  </head>
  <body>
    <div class="row container-fluid px-2">
      <div class="matches col-lg-6 col-xl-5">
        <!-- the topmost row in the match column -->
        <div class="group-members-row row px-4 py-2">
          <h4 class="col-10 text-white">Group Members</h4>
          <button class="btn col-2 dropdown-btn">
            <i class="bi bi-menu-button-fill text-white"></i>
          </button>
        </div>
        <!-- the second row in the match column -->
        <div class="discover-matches-row row px-4 py-2">
          <div class="text-section col-9 text-white">
            <h5>Discover New Matches</h5>
            <p>
              Keep swiping to discover what you and your friends have in common!
            </p>
          </div>
        </div>
        <!-- the match list -->
        <div class="match-list row">
          <!-- single matched card -->
          <div class="row single-match py-2">
            <div class="col-3 col-sm-2 matched-card-image-holder">
              <img
                class="matched-card-image"
                src="https://imdb-api.com/images/original/MV5BOWQwOTA1ZDQtNzk3Yi00ZmVmLWFiZGYtNjdjNThiYjJhNzRjXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_Ratio0.6837_AL_.jpg"
                alt=""
              />
            </div>
            <div class="col-9 matched-card-text">
              <h4 class="matched-card-text-title text-truncate">
                Top Gun: Maverick
              </h4>
              <h6 class="matched-card-text-cast text-truncate">
                Joseph Kosinski, Tom Cruise, Jennifer Connelly, Miles Teasdller,
                Val Kilmer
              </h6>
              <h6 class="matched-card-text-runtime text-truncate">
                Runtime: 119 min
              </h6>
            </div>
          </div>
          <!-- single matched card -->
          <div class="row single-match py-2">
            <div class="col-3 col-sm-2 matched-card-image-holder">
              <img
                class="matched-card-image"
                src="https://imdb-api.com/images/original/MV5BNDFjNmRjZTQtNTg0MC00ZjE5LTk2M2QtNjNjMDM1MzQ2OGYyXkEyXkFqcGdeQXVyNzQwOTQ1MzM@._V1_Ratio0.6837_AL_.jpg"
                alt=""
              />
            </div>
            <div class="col-9 matched-card-text">
              <h4 class="matched-card-text-title text-truncate">
                Jurassic World Dominion
              </h4>
              <h6 class="matched-card-text-cast text-truncate">
                Colin Trevorrow, Chris Pratt, Bryce Dallas Howard, Laura Dern,
                Sam Neill
              </h6>
              <h6 class="matched-card-text-runtime text-truncate">
                Runtime: 119 min
              </h6>
            </div>
          </div>
          <!-- single matched card -->
          <div class="row single-match py-2">
            <div class="col-3 col-sm-2 matched-card-image-holder">
              <img
                class="matched-card-image"
                src="https://imdb-api.com/images/original/MV5BZDM2YjA2ZjAtMmZmMy00NDhjLWJjYWYtYjc4ZGY0YzUzOTMyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_Ratio0.6837_AL_.jpg"
                alt=""
              />
            </div>
            <div class="col-9 matched-card-text">
              <h4 class="matched-card-text-title text-truncate">
                The Man from Toronto
              </h4>
              <h6 class="matched-card-text-cast text-truncate">
                Patrick Hughes, Kevin Hart, Woody Harrelson, Jasmine Mathews,
                Kaley Cuoco
              </h6>
              <h6 class="matched-card-text-runtime text-truncate">
                Runtime: 119 min
              </h6>
            </div>
          </div>
          <!-- single matched card -->
          <div class="row single-match py-2">
            <div class="col-3 col-sm-2 matched-card-image-holder">
              <img
                class="matched-card-image"
                src="https://imdb-api.com/images/original/MV5BYTg2Zjk0ZTctM2ZmMi00MDRmLWJjOGYtNWM0YjBmZTBjMjRkXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_Ratio0.6837_AL_.jpg"
                alt=""
              />
            </div>
            <div class="col-9 matched-card-text">
              <h4 class="matched-card-text-title text-truncate">Lightyear</h4>
              <h6 class="matched-card-text-cast text-truncate">
                Angus MacLane, Chris Evans, Keke Palmer, Peter Sohn, Taika
                Waititi
              </h6>
              <h6 class="matched-card-text-runtime text-truncate">
                Runtime: 119 min
              </h6>
            </div>
          </div>
          <!-- single matched card -->
          <div class="row single-match py-2">
            <div class="col-3 col-sm-2 matched-card-image-holder">
              <img
                class="matched-card-image"
                src="https://imdb-api.com/images/original/MV5BNDVkZTc4OTktNTAyOC00MzQxLThiZjMtM2M3MTlmYzFjY2FkXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_Ratio0.6837_AL_.jpg"
                alt=""
              />
            </div>
            <div class="col-9 matched-card-text">
              <h4 class="matched-card-text-title text-truncate">Spiderhead</h4>
              <h6 class="matched-card-text-cast text-truncate">
                Joseph Kosinski, Chris Hemsworth, Miles Teller, Jurnee Smollett,
                Mark Paguio
              </h6>
              <h6 class="matched-card-text-runtime text-truncate">
                Runtime: 119 min
              </h6>
            </div>
          </div>
        </div>
      </div>
      <!-- in this section, the card deck is displayed -->
      <div class="card-display col-lg-6 col-xl-7">
        <div class="card-stack col-12 col-lg-6"></div>
        <div class="loader"></div>
        <div class="like-dislike-btns col-3">
          <i class="bi bi-x-octagon dislike-btn"></i>
          <i class="bi bi-heart-fill like-btn"></i>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="module" src="../assets/js/swiping-functionality.js"></script>
    <script type="module" src="../assets/js/track-likes-dislikes.js"></script>
    <script type="module" src="../assets/js/homepage.js"></script>
  </body>
</html>
