<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Widget</title>
    <link rel="stylesheet" href="../assets/css/movie-widget.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.css"
    />
  </head>
  <body>
    <div class="widget-container">
      <!-- transparent icons that appear when swiping right or left -->
      <div class="swipe--status">
        <i class="bi bi-x-octagon"></i>
        <i class="bi bi-heart-fill"></i>
      </div>
      <!-- the actual card stack on display -->
      <div class="card-stack">
        <div class="card movie-card">
          <img
            style="width: 90vw; height: 75vh"
            class="card-img-top img-responsive"
            src="https://imdb-api.com/images/original/MV5BOWQwOTA1ZDQtNzk3Yi00ZmVmLWFiZGYtNjdjNThiYjJhNzRjXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_Ratio0.6837_AL_.jpg"
            alt=""
          />
          <button class="btn btn-info btn-sm show-info">More Info</button>
          <div class="more-info text-white px-3 py-3">
            <button class="close-info"><i class="bi bi-x-lg"></i></button>
            <h2 class="movie-title">Top Gun: Maverick</h2>
            <h6 class="release-date">Release Date: 2022</h6>
            <h6 class="run-time">Runtime: 110 min</h6>
            <p class="plot my-5">
              As students at the United States Navy's elite fighter weapons
              school compete to be best in the class, one daring young pilot
              learns a few things from a civilian instructor that are not taught
              in the classroom.
            </p>
            <p class="cast">
              Cast: Tony Scott, Tom Cruise, Tim Robbins, Kelly McGillis, Val
              Kilmer
            </p>
          </div>
        </div>
        <div class="movie-card">
          <img
            style="width: 90vw; height: 75vh"
            class="card-img-top"
            src="https://imdb-api.com/images/original/MV5BY2NlZjQ3ZTAtMzcxZC00MGZhLWFhNTQtN2M4NDBjYzIyOWNlXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_Ratio0.6837_AL_.jpg"
            alt=""
          />
        </div>
        <div class="movie-card">
          <img
            style="width: 90vw; height: 75vh"
            class="card-img-top"
            src="https://imdb-api.com/images/original/MV5BNDFjNmRjZTQtNTg0MC00ZjE5LTk2M2QtNjNjMDM1MzQ2OGYyXkEyXkFqcGdeQXVyNzQwOTQ1MzM@._V1_Ratio0.6837_AL_.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="choice-buttons">
        <button>
          <i style="color: #848c92" id="nope" class="btn bi bi-x-octagon"></i>
        </button>
        <button>
          <i style="color: #da1197" id="love" class="btn bi bi-heart-fill"></i>
        </button>
      </div>
    </div>
    <!-- scripts - internal and external -->
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/movie-widget.js"></script>
  </body>
</html>
